<div class="card">
  <div class="post-it" id="post-it-{{note.id}}">

    <div class="card-content">
      <h3 class="card-title">{{note.title}}</h3>
      <div class="card-details">
        <p>
          {{note.content}}
        </p>
      </div>
    </div>
    <div class = "general-update">
      <button class="update-btn" onclick="editScreen('{{note.id}}')"><i class="glyphicon glyphicon-edit"></i></button>
      <form method="post" action="{% url 'noteDelete' %}">
        {% csrf_token %}
        <input type="hidden" name="id" value="{{note.id}}"/>
        <button class= "update-btn" type="submit"><i class="glyphicon glyphicon-trash"></i></button>
      </form>  
    </div>
  </div>

  <div class="general-up" id="general-up-{{note.id}}">

    <form class="update-form" method="post" action="{% url 'noteUpdate' note.id %}">
      {% csrf_token %}
      <input type="hidden" name="id" value="{{note.id}}"/>

      <div class="card-content">
          <input class="title-update" type="title" name="titulo" value="{{note.title}}"/>
          <textarea class="content-update" name="detalhes">{{note.content}}</textarea>
      </div>

      <div class = "general-update">
        <button class="update-btn" type="submit"><i class="glyphicon glyphicon-check"></i></button>
        <button class="update-btn" onclick="outEditScreen('{{note.id}}')"><i class="glyphicon glyphicon-arrow-left"></i></button>
      </div>

    </form>
  </div>
</div>