{% extends "notes/base.html" %}
{% load static %}
{% block content %}

<title>Tags</title>

<div class="appbar">
    <img src="{% static 'notes/img/logo-getit.png' %}" class="logo" />
    <span class="subtitle">Como o Post-it, mas com outro verbo</span>
</div>

<body>
    <input type="checkbox" id="check">
    <label for="check">
        <i class="glyphicon glyphicon-align-justify" id="btn"></i>
        <i class="glyphicon glyphicon-remove" id="cancel"></i>
    </label>
    <div class="sidebar">
        <header>Menu</header>
        <ul>
            <li><a href="{% url 'index' %}"><i class="glyphicon glyphicon-home"></i>Home</a></li>
            <li><a href="{% url 'tagId' %}"><i class="glyphicon glyphicon-pushpin"></i>Tags</a></li>
        </ul>
    </div>
</body>

<div class="tags">
    <div class="tags-box">
        <h2>Tags</h2>
        {% for tag in tags %}
        <ul>
            <li> <a href="{% url 'tagContent' tag.id %}"><span>{{tag.id}}</span>{{tag.tag}}</a></li>
        </ul>
        {% endfor %}
    </div>
</div>

{% endblock %}