{% extends "notes/viewTags.html" %}
{% load static %}
{% block content %}

<title>Tagged Notes</title>

<div class="appbar">
    <img src="{% static 'notes/img/logo-getit.png' %}" class="logo" />
    <span class="subtitle">Como o Post-it, mas com outro verbo</span>
</div>

<div class="sidebar">
    <header>Menu</header>
    <ul>
        <li><a href="{% url 'index' %}"><i class="glyphicon glyphicon-home"></i>Home</a></li>
        <li><a href="{% url 'tagId' %}"><i class="glyphicon glyphicon-pushpin"></i>Tags</a></li>
    </ul>
</div>

<div class="tags">
    <div class="tags-box">
        <h2>Tags Content</h2>
        {% for note in notes %}
        <ul>
            <li><span>{{note.id}}</span>{{note.title}}
            </br>
            {{note.content}}</li>
        </ul>
        {% endfor %}
    </div>
</div>

{% endblock %}